main {
    margin-top: 50px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: fff;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: #585858;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img {
    margin: 25px;
}
form {
    margin: 15px;    
}

input[type=text] {
    width: 500px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/search.png);
    background-size: 15px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}

button {
    background-color: #dbdada;
    border: solid 10px #dbdada;
    border-radius: 3px;
    font-size: 1.1em;

}

p {
    font-size: 1em;
    margin: 15px;
}

footer {
    margin: 0;
    background-color: #dbdada;
    position: fixed;
    bottom: 0;
    width: 100%;
}